* {
  margin: 0;
  padding: 0;
}
#container {
  position: relative;
}
#ball {
  height: 20px;
  width: 20px;
  background-color: brown;
  border-radius: 50%;
  position: fixed;
  top: 20px;
  left: 60%;
}
#bar-1 {
  width: 150px;
  height: 20px;
  display: flex;
  position: fixed;
  background-color: green;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  top: 0%;
  left: 50%;
}
#bar-2 {
  width: 150px;
  height: 20px;
  display: flex;
  position: fixed;
  background-color: cadetblue;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  bottom: 0%;
  left: 50%;
}
